html {
    min-height: 100%;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    min-width: 100%;
    min-height: 100%;
}

.page {
    display: grid;
    height: 100%;
}

.Header {
    width: 100%;
    height: 20%;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
}

.HeaderBlock {
    width: 100%;
    background-color: #d69d17;
    text-align: center;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.TableContainer {
    width: 100%;
    height: 80%;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: 5%;
}

.Table {
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: dotted;
}

#Date {
    grid-column-start: 1;
    grid-row-start: 1;
}

#AppTitle {
    grid-column-start: 2;
    grid-row-start: 1;
}

#Username {
    grid-column-start: 3;
    grid-row-start: 1;
}

.RadioButtons {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.Search {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.TableDiv {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    min-width: 100%;
}

table, td {
    border: 1px solid grey;
    padding: 5px;
    min-width: 95%;
}

th {
    border: 3px solid grey;
    min-width: 95%;
}

#searchInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#searchParameterForm {
    padding: 1%;
    max-width: 150px;
    max-height: 70px;
    float: right;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
